<div class="panel panel-default">
  <div class="panel-heading">
    Créer votre camping
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @room do |f| %>

        <div class="row">

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Type de camping</label>
              <%= f.select :home_type, [["Luxueux", "Luxueux"], ["Familial", "Familial"]],
                            id: "home_type", prompt: "Sélectionner", class: "form-control" %>
            </div>
          </div>



          <div class="col-md-4 select">
            <div class="form-group">
              <label>Nombre de Chalets</label>
              <%= f.select :room_type, [["10", 10], ["20", 20], ["30", 30], ["40+", 40]],
                            id: "room_type", prompt: "Sélectionner", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Nombre d'emplacements</label>
              <%= f.select :accommodate, [["50", 50], ["100", 100], ["200", 200], ["400+", 400]],
                            id: "accommodate", prompt: "Sélectionner", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Nombre de Mobile Home</label>
              <%= f.select :bed_room, [["10", 10], ["15", 15], ["20", 20], ["25", 25], ["35", 35], ["45", 45]],
                            id: "bed_room", prompt: "Sélectionner", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Nombre de douche partagée</label>
              <%= f.select :bath_room, [["10", 10], ["20", 20], ["30", 30], ["40+", 40]],
                            id: "bath_rooms", prompt: "Sélectionner", class: "form-control" %>
            </div>
          </div>

        </div>


        <div><%= f.submit "Créer mon camping", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
