<!-- Listing Name -->
<div class="row">
  <div class="col-md-8">
    <h1><%= @room.listing_name %></h1>
    <%= @room.address %>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large" %><br/><br/>
    <%= @room.user.fullname %>
  </div>
</div>
<hr/>



<!-- Image -->
<div class="row">
  <div class="col-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br/>

<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-8">



    <!-- Room Info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.accommodate, "Vacanciers") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Mobile Home") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Salles de bains partagée") %></div>
      </div>

    </div>
    <hr/>

    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h3>A propos</h3>
        <p><%= @room.summary %></p>
      </div>
    </div>
    <hr/>

    <!-- Amenities -->
    <div class="row">
      <div class="col-md-3">
        <h4>Equipements</h4>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
              <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Cuisine partagée</li>
              <li class="<%= 'text-line-through' if !@room.is_internet %>">Internet</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_heating %>">Piscine</li>
              <li class="<%= 'text-line-through' if !@room.is_air %>">Aquagym</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <hr/>

    <!-- Carousel -->
    <div class="row">

      <% if @photos.length > 0 %>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
                <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                  <%= image_tag photo.image.url() %>
                </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Precedant</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
          </a>
        </div>
      <% end %>

    </div>
    <hr/>



    <!-- GOOGLE MAP -->
    <div class="row">

      <div id="map" style="width: 100%; height: 400px"></div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.0/dist/leaflet-search.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet'
    />
   
    <link rel="stylesheet" href="main.css" />
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.62.0/dist/L.Control.Locate.min.css" crossorigin="" /> -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

  <script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.0/dist/leaflet-search.src.min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>



                          
      <script type="text/javascript">
                            
                                var mbAttr = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',

                                    mbUrl1 = 'https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png';

                                mbUrl2 = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}';

                                var map = L.tileLayer(mbUrl1, { attribution: mbAttr }),
                                    satellite = L.tileLayer(mbUrl2, { attribution: mbAttr });


                                var mymap = L.map('map', {
                                    center: [42.57265, 3.01467],
                                    // zoom: 14.5,
                                    zoom: 13,
                                    layers: [map, satellite]
                                });

                                var baseMaps = {
                                    "Map": map,
                                    "Satellite": satellite
                                };

                                L.control.layers(baseMaps).addTo(mymap);

                                L.marker([42.5708961, 3.0300651000000016], ).addTo(mymap).bindPopup('This is Camping Le Pearl');

                                //42.5708961, 3.0300651000000016 camping lepearl 

                                // add search
                                // mymap.addControl(new L.Control.Search({
                                //     url: 'https://nominatim.openstreetmap.org/search?format=json&q={<%= @room.address %>}',
                                //     jsonpParam: 'json_callback',
                                //     propertyName: 'display_name',
                                //     propertyLoc: ['lat', 'lon'],
                                //     // marker: L.circleMarker([0, 0], { radius: 30 }),
                                //     drawMarker: true,
                                //     // marker.icon: true,
                                //     autoCollapse: true,
                                //     autoType: true,
                                //     minLength: 2,
                                //     marker: {
                                //         icon: true
                                //     }
                                // }));

// <%= @room.address %>
var geocoder = new google.maps.Geocoder();

	function googleGeocoding(text, callResponse)
	{
		geocoder.geocode({address: text}, callResponse);
	}

	function formatJSON(rawjson)
	{
		var json = {},
			key, loc, disp = [];

		for(var i in rawjson)
		{
			key = rawjson[i].formatted_address;
			
			loc = L.latLng( rawjson[i].geometry.location.lat(), rawjson[i].geometry.location.lng() );
			
			json[ key ]= loc;	//key,value format
		}

		return json;
	}

  mymap.addControl( new L.Control.Search({
			sourceData: googleGeocoding,
			formatData: formatJSON,
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
      marker: {
          icon: true
      }

		}) );
    
                                // add  a fullscreen button to an existing map:
                                mymap.addControl(new L.Control.Fullscreen());
                            
                            </script>
 
<style rel="stylesheet">
.search-input {
	font-family:Courier
}
.search-input,
.leaflet-control-search {
	max-width:400px;
} 

#mapid { 
    z-index: -1; 
    position: absolute; 
    width: 100%; 
    height: 50%;  
	/* border: medium none;  */
}
</style>

</div>
    <hr/>

    <!-- NEAR BY ROOMS -->


</div>


<!-- RIGHT PANEL -->
<div class="col-md-4">
  <!-- Reservation Form -->
  <%= render 'reservations/form' %>

</div>
</div>
